    <html>
        <body>
    <div class="page">
        <head>
    <link  rel="stylesheet" type="text/css" href="../ubergallery/resources/UberGallery.css"
          />
      </head>
         <ul class="topmenu">
        <li> <a href="../blog/index.html">Blog</a></li>
        <li> <a href="../weewx/index.html">Meteo</a></li>
        <li> <a href="../ubergallery/index.php">Immagini</a></li>
        <li> <a href="../index.html">Home</a></li>
      </ul>
    </html> 

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "blog/assets/main.css" | relative_url }}">
 
 
</head>
